:root {
	--bkg: #ecf8fa; /* lighter light blue */
	--green: #00AA66; /* neon green */
	
	--center-margin: 200px;
	
	--center-border: 28px;
	
	/* center padding */
	--center-pl: 36px;
	--center-pr: 36px;
	--center-pb: 72px;
	--center-pt: 108px;
	
	/* button */
	--button-height: 3.5em;
	--button-width: 7em;
	--button-radius: calc(var(--button-height)/2);
}

div {
	font-family: Helvetica, Georgia, sans-serif;
}

div.row {
	display:flex; 
	flex-direction: row; 
	justify-content: center; 
	align-items: center;
}

h1 {
	margin-top: 1rem;
	margin-bottom: 5rem;
}

label {
	display: block;
}

input {
	margin: 1rem;
}

input:hover {
  background-color: lightblue;
  cursor: pointer;
}

input:invalid {
	background-color: lightpink;
}


.notop {
	margin-top: 0;
}

.centertext {
	text-align: center;
}

.bkg {
	background: var(--bkg);
	justify-content: center;
	padding: 48px;
}

.center {
	margin-left: var(--center-margin);
	margin-right: var(--center-margin);
	
	border-radius: var(--center-border);
	
	padding-left: var(--center-pl);
	padding-right: var(--center-pr);
	padding-bottom: var(--center-pb);
	padding-top: var(--center-pt);
	
	width: auto;
	min-height: 384px;
	
	background: white;
}

.button {
	border-radius: var(--button-radius);
	width: var(--button-width);
	height: var(--button-height);
	
	background-color: lightblue;
	border: none;
	
	font-size: .9em;
}
