label {
	display: block;
	margin-top: 1rem;
}

input {
  margin-bottom: 1rem;
}

input:hover {
  background-color: lightblue;
  cursor: pointer;
}


.centertext {
	text-align: center;
}

div {
	font-family: Helvetica, Georgia, sans-serif;
}
